{% extends "tpl.html" %}

{% block main %}
		<h2>Fiche de {{him.name}}</h2>
		<fieldset class="col">
		<form method="post">
			<label for="name" class="fixe">Nom :</label><br>
			<input type="text" class="L" id="name" name="name" value="{{him.name}}">
			<br>
			<input  id="a_admin" name="access" value="1" type="checkbox" >
			<label for="a_admin" class="L">Admin</label>
			<input  id="a_admin" name="access" value="1" type="checkbox" >
			<label for="a_admin" class="L">Admin</label>
			<hr>
			<p>
				<input type="submit" class="L" value="J'ai relu et je valide ma commande">
				<input type="reset" class="L" value="Ça ne va pas du tout !">
			</p>
		</form>
		</fieldset>
		<fieldset class="col">
		<form method="post">
			<h3>Animation de l'avatar</h3>
			<hr>
			<p>
				<input type="submit" class="L" value="J'ai relu et je valide ma commande">
				<input type="reset" class="L" value="Ça ne va pas du tout !">
			</p>
		</form>
		</fieldset>
		<hr>
{% endblock main %}

