{% extends "tpl.html" %} {% block main %}
	<h2>Ajouter une image à « {{thread.subject}} »</h2>
	<fieldset class="col">
	</fieldset>
	<fieldset class="col">
		<form method="POST" enctype="multipart/form-data" novalidate>
			<input type="hidden" name="token" value="{{token}}">
			<input type="hidden" name="section" value="{{sect}}">
			<input type="hidden" name="kind"    value="image">
			<input type="hidden" name="key"     value="{{kye}}">

			<input type="file" id="file" name="image" required>
			<label for="file" class="L fixe">Choisir une image</label>
			<hr>
			<input class="M" type="submit">
			<input class="M" type="reset">
		</form>
	</fieldset>
	<hr class="clear">
{% endblock main %}

