{% extends "tpl.html" %}

{% block main %}
{% include "lib_access" %}
		<h2>Fiche #{{him.uid}} - {{him.name}}</h2>
		<fieldset class="col">
			<legend>Données</legend>
			<form method="post">
				<label for="name" class="fixe">Nom :</label><br>
				<input type="text" class="L" id="name" name="name" value="{{him.name}}">
				<br>
				<label for="pass" class="fixe">Mot de passe :</label><br>
				<input type="text" class="L" id="pass" name="pass">
				<br>
	{{ btn_access(him.access, 1, "admin", "Administrateur") }}
	{{ btn_access(him.access, 2, "modo",  "Modérateur") }}
	{{ btn_access(him.access, 3, "write", "Peut écrire") }}
	{{ btn_access(him.access, 4, "image", "Peut poster une image") }}
	{{ btn_access(him.access, 5, "ask",   "Faire une demande") }}
				<hr>
				<p>
					<input type="submit" class="L" value="Enregistrer">
					<input type="reset" class="L" value="Annuler">
				</p>
			</form>
		</fieldset>
		<fieldset class="col">
			<legend>Statistique</legend>
			<form>
				<label class="M">Nombre de sujet ouvert</label>
				<input type="text" class="S dis" disabled 
					value="{{his.thread|default(0)}}">
				<label class="M limited">Nombre de message écrit</label>
				<input type="text" class="S dis" disabled
					value="{{his.post|default(0)}}">
			</form>
		</fieldset>
		<hr>
{% endblock main %}

