label{
	display: inline-block; box-sizing: border-box;
	width: 240px;
	padding-left: 2px; margin-bottom: 4px; margin-right: 2px;
	line-height: 14px;
	border: 0px double $dark_fg;
	border-left-width: 5px;	border-bottom-width: 1px;
}
input, select, textarea{
	box-sizing: border-box;
	width: 240px;
	margin: 0px 2px 4px 0px; padding: 2px 0px 0px 4px;
	border: 1px solid $dark_fg; 
	vertical-align: top;
	font-size: 14px; 
	font-family: serif;
	background: white;
	&:hover{
		box-shadow: 0px 0px 2px $lite_fg;
	}
	&:focus{
		outline: none; border-color: $lite_fg;
		box-shadow: 0px 0px 2px $lite_fg, 0px 0px 4px $lite_fg;
	}
}
input[type="submit"], input[type="reset"]{
}
select :disabled{
	display: none;
}
textarea{
	width: 486px; height: 150px;
}
hr{
	width: 470px;
	margin: 1px 7px 5px 7px;
	border: 1px solid $lite_fg;
	clear: both;
}

fieldset{
	border: 3px double $dark_fg;
	margin: 0px 10px 10px 0px; padding: 5px 0px 5px 9px;
	legend{
		margin-bottom: 5px; padding: 0px 20px 0px 5px;
		border: 1px double $dark_fg;
	 	border-bottom: none; border-radius: 0px 7px 0px 0px;
	}
}
