/****************
 * Stiky Footer *
 ****************/

*{
	margin: 0px; padding: 0px;
}
html{
	overflow-y: scroll;
}
html, body{ 
	height: 100%;
}
/* Opera fix */
body::before{
	content:"";
	height: 100%;
	float: left;
	width: 0px;
	margin-top: -32767px;
}
#wrap{
	min-height: 100%;
}
#main{
	overflow-y: auto;
	padding-bottom: 50px;
}
#foot{
	position: relative;
	height: 50px;
	margin-top: -50px;
	clear: both;
}

/*************
 *  Styling  *
 *************/

html{
	background-color: $dark_bg;	color: $lite_fg;
}
#wrap{
	width: 740px;
	background-color: $lite_bg;
	box-shadow: 0px 0px 10px black, 0px 0px 20px $lite_bg;
	margin-left: auto; margin-right: auto;
}
#bann{
	height:100px;	width: 540px;
	padding-left: 200px;
}
#left{
	width: 200px;
	margin: 50px 0px 0px 0px;  
	float: left;
}
#main{
	box-sizing: border-box;
	width: 520px;
	margin:50px 0px 0px 0px; 
}
#foot{
	width: 740px;
	margin-left: auto; margin-right: auto;
	//background: rgba(250, 120, 156, .5);
}
