{% extends 'admin/base.html'%}

{%block head%}
	<script src="/js/prototype.js"></script>
	<script src="/js/page.js"></script>
{%endblock%}

{%block main%}
	<fieldset>
		<legend>Nouvelle page</legend>
		<form id="c_page" action="/admin/page/create" method="post">
			<label for="c_name">Nom</label><br>
			<input type="text" name="name" id="c_name"><br>

			<label for="c_content">Contenu</label><br>
			<textarea name="content" id="c_content"></textarea>
			<hr>
			<input type="submit" value="Enregistrer">
			<input type="reset" value="Remettre à zero">
		</form>
	</fieldset>

	<fieldset>
		<legend>Mettre à jour une page</legend>
		<form id="u_page" action="/admin/page/update" method="post">
			<label for="u_page">Page</label><br>
			<select name="page" id="u_page">
				<option disabled selected>Page à modifier</option>{%for p in page%}
				<option 
					value="{{p.key|json_encode|escape("")}}"
					data-content="{{p.value|json_encode|escape("")}}"
				>{{p.value.name}}</option>{%endfor%}
			</select><br>

			<label for="u_name">Nouveau nom</label><br>
			<input type="text" name="name" id="u_name"><br>

			<label for="u_content">Contenu</label><br>
			<textarea name="content" id="u_content"></textarea>
			<hr>
			<input type="submit" value="Enregistrer">
			<input type="reset" value="Remettre à zero">
		</form>
	</fieldset>
	<fieldset>
		<legend>Supprimer une page</legend>
		<form id="d_page" action="/admin/page/delete" method="post">
			<label for="d_page">Page</label><br>
			<select name="page" id="d_page">
				<option disabled selected>Page à supprimer</option>{%for p in page%}
				<option value="{{p.key|json_encode|escape("")}}"
				>{{p.value.name}}</option>{%endfor%}
			</select><br>
			<hr>
			<input type="submit" value="Supprimer">
			<input type="reset" value="Remettre à zero">
	</fieldset>
{%endblock%}
