#fora{
	height: 200px;
	margin: 10px 0px; padding: 0px 0px 0px 100px;
	background: url("/img/fora_generic.png") 0px 2px no-repeat;
	border-collapse: separate; table-layout: fixed;
	tr{
		height: 22px;
	}
	tr.filler{
		height: auto;
	}
	td{
		border: 1px solid $darker;
	}
	td:nth-child(1){
		width: 375px;
	}
	td:nth-child(2){
		width: 175px;
	}
	td:nth-child(3){
		width: 50px;
		text-align: right;
	}
}
#forum{
	margin: 10px 9px;
	border-left:  1px solid $black;
	border-right: 1px solid $black;
	dt{
		background: url("/img/bg.light.png");
		border-bottom: 1px solid $black;
	}
	dt:nth-child(4n+1){
		background: url("/img/bg.medium.png");
	}
	dd{
		margin-left: 0px; padding: 4px 8px;
		background: url("/img/bg.menu.png");
		color: $lighter;
	}
}
