#fora{
	margin: 10px 0px;
	border-collapse: collapse;
	td{
		border: 1px solid $darker;
	}
	td:nth-child(1){
		width: 450px;
	}
	td:nth-child(2){
		width: 200px;
	}
	td:nth-child(3){
		width: 50px;
		text-align: right;
	}
}
#forum{
	margin: 10px 9px;
	border-left:  1px solid $black;
	border-right: 1px solid $black;
	dt{
		background: url("/img/bg.light.png");
		border-bottom: 1px solid $black;
	}
	dt:nth-child(4n+1){
		background: url("/img/bg.medium.png");
	}
	dd{
		margin-left: 0px; padding: 4px 8px;
		background: url("/img/bg.menu.png");
		color: $lighter;
	}
}
