@mixin pushable{
	box-shadow: 2px 2px 1px $black;
	cursor: pointer;
	&:hover, &:focus{
		position: relative;
			top: 1px; left: 1px;
		box-shadow: 1px 1px 1px $black;
		outline: none;
	}
	&:active{
		position: relative;
			top: 2px; left: 2px;
		box-shadow: inset 2px 2px 1px $black;
	}
}

@mixin button{
	padding: 5px 10px; margin-bottom: 4px;
	color: $black; text-decoration: none;
	background-image: url("/img/bg.light.png");
	border: 2px solid $darker;
}

@mixin transition($what: all, $time: 400ms, $how: ease, $when: 0ms){
	-webkit-transition: $what $time $how $when;
	-moz-transition: $what $time $how $when;
	-ie-transition: $what $time $how $when;
	-o-transition: $what $time $how $when;
	transition: $what $time $how $when;
}
