@import url("/css/libertine/font.css");
#debug {
  z-index: 800;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
  background: #070401;
  color: #d9d3b4;
  border: 1px solid #d9d3b4;
  border-left: none;
  border-top: none;
  overflow: hidden;
  -webkit-transition: width 700ms ease; }
  #debug:hover {
    width: 400px; }
  #debug li {
    width: 400px;
    margin: 0px;
    padding: 0px;
    list-style: none; }
  #debug hr {
    border-color: #d9d3b4; }

.right {
  float: right !important; }

.center {
  text-align: center; }

.S {
  display: inline-block;
  width: 100px; }

.M {
  display: inline-block;
  width: 150px; }

.L {
  display: inline-block;
  width: 225px; }

.XL {
  display: inline-block;
  width: 325px; }
  .XL + .XL {
    margin-left: 10px; }

.btn {
  padding: 5px 10px;
  margin-bottom: 4px;
  color: #070401;
  text-decoration: none;
  background-image: url("/img/bg.light.png");
  border: 2px solid #6f6025;
  box-shadow: 2px 2px 1px #070401;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px 1px #070401;
    outline: none; }
  .btn:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: inset 2px 2px 1px #070401; }

html {
  background-color: #070401;
  overflow-y: scroll;
  font-family: "Linux Libertine", serif;
  color: #070401; }

body {
  margin: auto;
  width: 740px;
  background-image: url("/img/bg.main.png"); }
  body #head, body #foot {
    display: block;
    height: 213px;
    width: 740px;
    background-color: #d9d3b4; }
  body #head {
    margin-top: 20px;
    background-image: url("/img/header.png"); }
  body #foot {
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("/img/footer.png"); }
  body #menu {
    margin: 0px;
    padding: 0px 10px;
    height: 32px;
    background-image: url("/img/bg.menu.png"); }
    body #menu li {
      float: left;
      position: relative;
      margin: 10px 0px 0px 10px;
      padding: 0px;
      height: 20px;
      background-image: url("/img/bg.light.png");
      list-style: none;
      border: 2px solid #6f6025;
      border-bottom: none; }
      body #menu li.right {
        margin-right: 10px; }
      body #menu li a {
        display: block;
        padding: 0px 10px 0px 20px;
        height: 20px;
        line-height: 20px;
        color: #070401;
        text-decoration: none;
        transition: background linear 200ms;
        -webkit-transition: background-color linear 200ms;
        -moz-transition: background linear 200ms;
        -ie-transition: background linear 200ms;
        -o-transition: background linear 200ms; }
        body #menu li a img {
          position: absolute;
          bottom: 2px;
          left: 2px; }
        body #menu li a:hover {
          background-color: rgba(0, 0, 0, 0.22); }
  body #main {
    padding: 0px 10px; }
    body #main .title {
      display: block;
      padding: 12px 0px 0px 24px;
      line-height: 24px;
      background: -webkit-linear-gradient(45deg, #070401 13%, transparent 13%, transparent 25%, #070401 25%, #070401 38%, transparent 38%, transparent 50%, #070401 50%, #070401 64%, transparent 64%, transparent 75%, #070401 75%, #070401 88%, transparent 88%) top left repeat-x, -webkit-linear-gradient(45deg, #070401 13%, transparent 13%, transparent 25%, #070401 25%, #070401 38%, transparent 38%, transparent 50%, #070401 50%, #070401 64%, transparent 64%, transparent 75%, #070401 75%, #070401 88%, transparent 88%) top left repeat-y, url("/img/title.bg.png");
      -webkit-background-size: 12px 12px, 12px 12px, auto;
      border-left: 1px solid #070401;
      border-top: 1px solid #070401; }
      body #main .title a {
        display: block;
        -webkit-transition: background 400ms ease; }
        body #main .title a:hover {
          background: #8a7b3b; }
  body #fora {
    height: 125px;
    margin: 10px 0px;
    padding: 0px 0px 0px 100px;
    background: url("/img/fora_icon.png") -5px 5px no-repeat;
    border-collapse: separate;
    table-layout: fixed; }
    body #fora tr {
      height: 22px;
      background-image: url("/img/bg.light.png"); }
      body #fora tr.filler {
        height: auto; }
    body #fora td {
      border: 1px solid #6f6025; }
    body #fora td:nth-child(1) {
      width: 370px; }
      body #fora td:nth-child(1) a {
        display: block;
        padding-left: 10px;
        color: #070401;
        text-decoration: none;
        -webkit-transition: background 400ms ease; }
        body #fora td:nth-child(1) a:hover {
          background: rgba(111, 96, 37, 0.5); }
    body #fora td:nth-child(2) {
      width: 170px; }
    body #fora td:nth-child(3) {
      width: 40px;
      padding-right: 10px;
      text-align: right; }
  body #forum {
    margin: 10px 9px;
    border-left: 1px solid #070401;
    border-right: 1px solid #070401; }
    body #forum dt {
      position: relative;
      height: 40px;
      background: url("/img/bg.light.png");
      border-bottom: 1px solid #070401; }
      body #forum dt .blind {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 40px;
        overflow: hidden;
        -webkit-transition: height 400ms ease; }
        body #forum dt .blind:hover {
          height: 80px; }
        body #forum dt .blind .avatar {
          width: 80px;
          border-right: 1px solid #070401; }
      body #forum dt .author {
        position: absolute;
        top: 0px;
        left: 85px; }
    body #forum dt:nth-child(4n+1) {
      background: url("/img/bg.medium.png"); }
    body #forum dd {
      margin-left: 0px;
      padding: 4px 8px;
      background: url("/img/bg.menu.png");
      color: #d9d3b4; }
  body fieldset {
    margin: 0px;
    padding: 10px 10px 0px;
    border: 2px solid #070401; }
    body fieldset.col {
      float: left;
      width: 320px;
      margin-left: 0px; }
      body fieldset.col + fieldset {
        margin-left: 20px; }
    body fieldset + hr {
      clear: left;
      border: none; }
    body fieldset legend {
      padding: 0px 5px;
      font-weight: bold;
      background: rgba(255, 255, 255, 0.35);
      border-radius: 8px 0px 0px 0px; }
  body form hr {
    border-top: 1px solid #8a7b3b;
    border-right: 3px solid #8a7b3b;
    border-bottom: 2px solid #bcb27d;
    border-left: 3px solid #bcb27d; }
  body form h3 {
    margin: 20px 0px 5px 0px; }
  body form label {
    padding: 0px 3px;
    margin: 0px 10px 0px 0px;
    background-image: url("/img/bg.light.png");
    border: 2px solid #6f6025;
    cursor: pointer; }
    body form label.fixe {
      display: inline-block;
      min-width: 100px; }
    body form label.M {
      display: inline-block;
      width: 170px; }
    body form label.todo {
      background: none;
      border: none; }
  body form input[type="text"], body form input[type="password"] {
    padding: 0px 1px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-image: url("/img/bg.medium.png");
    border: 2px inset #6f6025; }
    body form input[type="text"].dis, body form input[type="password"].dis {
      color: #070401; }
    body form input[type="text"]:focus, body form input[type="password"]:focus {
      outline-color: #6f6025; }
  body form input[type="radio"], body form input[type="checkbox"] {
    display: none; }
    body form input[type="radio"] + label, body form input[type="checkbox"] + label {
      padding: 5px 10px;
      margin-bottom: 4px;
      color: #070401;
      text-decoration: none;
      background-image: url("/img/bg.light.png");
      border: 2px solid #6f6025;
      box-shadow: 2px 2px 1px #070401;
      cursor: pointer;
      -webkit-transition: background-position 400ms ease;
      -moz-transition: background-position 400ms ease;
      -ie-transition: background-position 400ms ease;
      -o-transition: background-position 400ms ease;
      transition: background-position 400ms ease;
      background: url("/img/btn.checkable.gif") left top;
      padding: 0px 5px 0px 15px; }
      body form input[type="radio"] + label:hover, body form input[type="radio"] + label:focus, body form input[type="checkbox"] + label:hover, body form input[type="checkbox"] + label:focus {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 1px 1px 1px #070401;
        outline: none; }
      body form input[type="radio"] + label:active, body form input[type="checkbox"] + label:active {
        position: relative;
        top: 2px;
        left: 2px;
        box-shadow: inset 2px 2px 1px #070401; }
    body form input[type="radio"]:checked + label, body form input[type="checkbox"]:checked + label {
      background-position: bottom left; }
    body form input[type="radio"] + label.todo, body form input[type="checkbox"] + label.todo {
      padding-left: 0px;
      background: none;
      border: none;
      box-shadow: none; }
    body form input[type="radio"] + label.todo:hover, body form input[type="checkbox"] + label.todo:hover {
      position: static; }
    body form input[type="radio"]:checked + label.todo, body form input[type="checkbox"]:checked + label.todo {
      text-decoration: line-through; }
  body form input[type="file"] {
    position: absolute;
    opacity: 0; }
    body form input[type="file"] + label {
      padding: 5px 10px;
      margin-bottom: 4px;
      color: #070401;
      text-decoration: none;
      background-image: url("/img/bg.light.png");
      border: 2px solid #6f6025;
      box-shadow: 2px 2px 1px #070401;
      cursor: pointer;
      -webkit-transition: background-position 400ms ease;
      -moz-transition: background-position 400ms ease;
      -ie-transition: background-position 400ms ease;
      -o-transition: background-position 400ms ease;
      transition: background-position 400ms ease;
      padding: 0px 10px 0px 22px;
      margin-bottom: 4px;
      background: url("/img/btn.file.gif") left top; }
      body form input[type="file"] + label:hover, body form input[type="file"] + label:focus {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 1px 1px 1px #070401;
        outline: none; }
      body form input[type="file"] + label:active {
        position: relative;
        top: 2px;
        left: 2px;
        box-shadow: inset 2px 2px 1px #070401; }
    body form input[type="file"]:invalid + label {
      background-position: left bottom; }
  body form input[type="submit"], body form input[type="button"], body form input[type="reset"] {
    padding: 5px 10px;
    margin-bottom: 4px;
    color: #070401;
    text-decoration: none;
    background-image: url("/img/bg.light.png");
    border: 2px solid #6f6025;
    box-shadow: 2px 2px 1px #070401;
    cursor: pointer;
    font-family: "Linux Libertine"; }
    body form input[type="submit"]:hover, body form input[type="submit"]:focus, body form input[type="button"]:hover, body form input[type="button"]:focus, body form input[type="reset"]:hover, body form input[type="reset"]:focus {
      position: relative;
      top: 1px;
      left: 1px;
      box-shadow: 1px 1px 1px #070401;
      outline: none; }
    body form input[type="submit"]:active, body form input[type="button"]:active, body form input[type="reset"]:active {
      position: relative;
      top: 2px;
      left: 2px;
      box-shadow: inset 2px 2px 1px #070401; }
    body form input[type="submit"] + input, body form input[type="button"] + input, body form input[type="reset"] + input {
      margin-left: 10px; }
  body form textarea {
    margin: 3px 0px 0px 0px;
    width: 500px;
    height: 150px;
    background-image: url("/img/bg.menu.png");
    color: #bcb27d;
    border: 2px solid #6f6025; }
    body form textarea:focus {
      outline: none; }
  body form ul.aside {
    float: right;
    margin: 0px;
    padding: 0px;
    width: 200px; }
    body form ul.aside li {
      margin: 0px 0px 5px 0px;
      padding: 0px;
      list-style: none; }
      body form ul.aside li.head {
        font-size: 20px;
        font-weight: bold; }
  body #disclaimer {
    margin: 0px;
    background-image: url("/img/bg.menu.png"); }
    body #disclaimer p {
      color: white; }
