@import "font";
@import "color";
@import "lib";

@import "debug";

.right{
	float: right !important;
}

html{
	background-color: $black;
	overflow-y: scroll;
	font-family: "Linux Libertine", serif;
	color: $black;
}
body{
	margin: auto;
	width: 740px;
	background-image: url("/img/bg.main.png");
	#head, #foot{
		display: block;
		height: 213px; width: 740px;
		background-color: $lighter;
	}
	#head{
		margin-top: 20px;
		background-image: url("/img/header.png");
	}
	#foot{
		margin-top: 20px;
		margin-bottom: 20px;
		background-image: url("/img/footer.png");
	}
	@import "menu";
	@import "main";
	@import "fora";
	@import "form";
	#disclaimer{
		margin: 0px;
		background-image: url("/img/bg.menu.png");
		p{
			color: white;
		}
	}
}
