/*
Syntax error: File to import not found or unreadable: fora.
              Load paths:
                /home/gkr/Dropbox/Public/SITE/zavatar
                /home/gkr/Dropbox/Public/SITE/zavatar/data/css
        on line 36 of data/css/zavatar.scss

31: 		margin-bottom: 20px;
32: 		background-image: url("/img/footer.png");
33: 	}
34: 	@import "menu";
35: 	@import "main";
36: 	@import "fora";
37: 	@import "form";
38: 	#disclaimer{
39: 		margin: 0px;
40: 		background-image: url("/img/bg.menu.png");
41: 		p{

Backtrace:
data/css/zavatar.scss:36
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/import_node.rb:64:in `rescue in import'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/import_node.rb:42:in `import'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/import_node.rb:25:in `imported_file'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/check_nesting.rb:87:in `rescue in invalid_import_parent?'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/check_nesting.rb:77:in `invalid_import_parent?'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/check_nesting.rb:130:in `try_send'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/check_nesting.rb:8:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/check_nesting.rb:26:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:39:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/check_nesting.rb:14:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/check_nesting.rb:26:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/check_nesting.rb:33:in `visit_root'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/check_nesting.rb:14:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:24:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/root_node.rb:19:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:284:in `block (4 levels) in watch'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `call'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:39:in `delete'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in deleted'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:31:in `deleted'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm.rb:70:in `monitor'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:265:in `watch'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin.rb:107:in `method_missing'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:431:in `watch_or_update'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:302:in `process_result'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:41:in `parse'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:21:in `parse!'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.1.15/bin/sass:8:in `<top (required)>'
/usr/bin/sass:19:in `load'
/usr/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: fora.\A               Load paths:\A                 /home/gkr/Dropbox/Public/SITE/zavatar\A                 /home/gkr/Dropbox/Public/SITE/zavatar/data/css\A         on line 36 of data/css/zavatar.scss\A \A 31: 		margin-bottom: 20px;\A 32: 		background-image: url(\"/img/footer.png\");\A 33: 	}\A 34: 	@import \"menu\";\A 35: 	@import \"main\";\A 36: 	@import \"fora\";\A 37: 	@import \"form\";\A 38: 	#disclaimer{\A 39: 		margin: 0px;\A 40: 		background-image: url(\"/img/bg.menu.png\");\A 41: 		p{"; }
