@import "font";
@import "color";
@import "lib";

@import "debug";

.right{
	float: right !important;
}
.left{
	float: left !important;
}
.clear{
	clear: both;
}

.center{
	text-align: center;
}
.S{
	display: inline-block;
	width: 100px;
}
.M{
	display: inline-block;
	width: 150px;
}
.L{
	display: inline-block;
	width: 225px;
}
.XL{
	display: inline-block;
	width: 325px;
	&+&{
		margin-left: 10px;
	}
}
.btn{
	@include button;
	@include pushable;
}

html{
	background-color: $black;
	overflow-y: scroll;
	font-family: "Linux Libertine", serif;
	color: $black;
}
body{
	margin: auto;
	width: 740px;
	background-image: url("/img/bg.main.gif");
	#head, #foot{
		display: block;
		height: 213px; width: 740px;
		background-color: $lighter;
	}
	#head{
		margin-top: 20px;
		background-image: url("/img/header.png");
	}
	#foot{
		margin-top: 20px;
		margin-bottom: 20px;
		background-image: url("/img/footer.png");
	}
	@import "menu";
	@import "main";
	@import "fora";
	@import "form";
	#disclaimer{
		margin: 0px;
		background-image: url("/img/bg.menu.png");
		p{
			color: white;
		}
	}
}

